/.idea/
/README_template.md
/README.md
/package.json
/FM-{D1F87F42-FF86-4BE0-A5B5-1C5D72D9E670}.ico
/desktop.ini
/codealike.json
/version history/
/src/desktop.ini
/src/FM-{A3C6CC4B-DC7D-4C3F-AA62-5010BEE6BD63}.ico
/design/
/src/styles/desktop.ini
/src/styles/FM-{774CBE0E-8D1A-4956-BA01-EE4F638C6F64}.ico
